<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Test SP">
  <meta http-equiv='pragma' content='no-cache' />
  <meta http-equiv='cache-control' content='no-cache, no-store, must-revalidate' />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- <link rel="shortcut icon" th:href="@{/images/sc-favicon.ico}" href="/images/sc-favicon.ico" type="image/x-icon" /> -->

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}" href="webjars/bootstrap/4.6.2/css/bootstrap.min.css" />
  <link rel="stylesheet" th:href="@{/css/open-sans-fonts.css}" href="../../css/open-sans-fonts.css" />
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
  
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicon/apple-touch-icon.png}" href="images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon/favicon-32x32.png}" href="images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon/favicon-16x16.png}" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" th:href="@{/images/favicon/site.webmanifest}" href="images/favicon/site.webmanifest">
  <link rel="mask-icon" th:href="@{/images/favicon/safari-pinned-tab.svg}" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" th:href="@{/images/favicon/favicon.ico}" href="images/favicon/favicon.ico" type="image/x-icon">
  <meta name="theme-color" content="#ffffff">

  <title th:include=":: #pageTitle">Title</title>

</head>

<body>

<th:block th:fragment="scriptFragment">
  <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}" src="webjars/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/umd/popper.min.js}" src="/webjars/popper.js/1.16.1-lts/umd/popper.min.js"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.min.js}" src="/webjars/bootstrap/4.6.2/js/bootstrap.min.js"></script>    
</th:block>

</body>

</html>